<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>友链君~</h3>
                        <ul class="alt">
                            <li><a href="https://blog.zhangone.top" target="_blank">张同学</a></li>
                            <li><a href="http://www.luogu.org" target="_blank">Luogu 洛谷</a></li>
                            <li><a href="http://www.ycjh.org" target="_blank">英才计划官网</a></li>
                            <li><a href="https://zh.moegirl.org" target="_blank">萌娘百科</a></li>
                            <li><a href="http://scp-wiki-cn.wikidot.com" target="_blank">SCP基金会</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>求赞助商广告栏！</h3>
                        <ul class="alt">
                            <li><a href="http://www.mimikko.cn">兽耳科技</a></li>
                            <li><a href="#">虚位以待</a></li>
                            <li><a href="#">虚位以待</a></li>
                            <li><a href="#">虚位以待</a></li>
                            <li><a href="#">虚位以待</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>浅隐听寒</h2>
                <p>这里是浅隐听寒的介绍</p>
                <ul class="icons">
                    {% if site.twitter %}<li><a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer" class="icon fa-twitter"><span class="label">Twitter</span></a></li>{% endif %}
                    {% if site.facebook %}<li><a href="http://facebook.com/{{ site.facebook }}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>{% endif %}
                    {% if site.instagram %}<li><a href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer" class="icon fa-instagram"><span class="label">Instagram</span></a></li>{% endif %}
                    {% if site.linkedin %}<li><a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>{% endif %}
                    {% if site.pinterest %}<li><a href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>{% endif %}
                    {% if site.bilibili %}<li><a href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>{% endif %}
                    {% if site.zhihu %}<li><a href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>{% endif %}
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
            <li>Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
        </ul>
    </div>
</footer>
