<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>浅隐听寒</h2>
                <p>欢迎来到我的小站</p>
                <ul class="actions">
                    <li><a href="/blog" class="button big special">Blog</a></li>
                    <li><a href="/about" class="button big alt">About me</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
